.patrick-hand-sc-regular {
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
  }

body{
    font-family: "Patrick Hand SC", cursive;
    margin: 0;
    padding: 0;
    background-color: rgb(126, 126, 204);
}

header{
    text-align: center;
    padding: 20px;
    background-color: #2c2c5c;
    color: white;
    text-decoration: underline;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    min-width: 1000px;
    margin: auto;
}

.testimonial{
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    text-align: left;
    transition: transform 0.3s ease-in-out, box-shadow 0.3 ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.testimonial:nth-child(1) {background-color: rgb(35, 200, 145);}
.testimonial:nth-child(2) {background-color: rgb(11, 230, 175);}
.testimonial:nth-child(3) {background-color: rgb(0, 255, 229);}
.testimonial:nth-child(4) {background-color: rgb(49, 112, 207);}
.testimonial:nth-child(5) {background-color: rgb(0, 213, 255);}
.testimonial:nth-child(6) {background-color: rgb(0, 179, 255);}


.testimonial:hover{
    transform: scale(1.05);
    box-shadow: 0px 8;
}

.large{
    grid-column: span 2;
    grid-row: span 2;
    font-size: 1.25em;
}

.small{
    grid-column: span 1;
    grid-row: span 1;
}

.medium{
    grid-column: span 2;
    grid-row: span 1;
}

@media (max-width: 600px){
    .grid-container{
        grid-template-columns: 1fr;
    }

    .large, .medium, .small{
        grid-column: span 1;
    }
}